*{
    margin: 0;
    padding: 0;
}

.navigation{
    display: flex;
    align-items:center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navigationList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navigationItem{
    list-style: none;
    
}

.navigationLink{
    text-decoration: none;
    color: #656565;
    font-size: 22px;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.navigationLink:hover{
    color: black;
}

