.topPicksPage{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.heading{
    font-family: "Shantell Sans", cursive;;
    font-size: 4vw;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
 .heading img{
    margin-left: 10px; 
    height: 1em;
} 
.recipeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.recipeCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    height: 26vw;
    width: 30vw;
    text-align: start;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
.recipeCard:hover{
   background-color: #f0f0f07d;
}

.recipeCard img{
    height: 73%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.recipeCard h2 {
    font-family: "Nanum Gothic Coding", monospace;
  font-style: normal;
    margin-top: 10px;
    font-weight: 400;
    position: relative;
    font-size: 1.5vw
   
}


.recipeCard h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background-color: #fed39c; /* Color of the underline */
    transform: scaleX(0); /* Initially hidden */
    transition: transform 0.3s ease; /* Smooth animation */
  }
  
  .recipeCard h2:hover::after {
    transform: scaleX(1); /* Expand underline on hover */
    transform-origin: bottom left;
  }

  @media (max-width:800px) {
    .recipeContainer{
        gap: 16px;
    }
    .heading{
        font-size: 32px;
        padding: 0px 20px;
    }
    .recipeCard{
        height: 325px;
        width: 350px;
    }
    .recipeCard h2{
        font-size: 18px;
    }
  }