.description {
  width: 89vw;
  background-color: #656565;
  margin: 5vw;
  padding: 2vw;
  font-family: Shantell Sans, cursive;
  font-size: 2.5vw;
  font-weight: 600;
  color: orange;
}

.searchContainer {
  margin: 10vw auto 4vw auto;
  width: 89vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.searchInput {
  border: 1px solid orange;
  padding: 10px 10px 10px 30px;
  width: 35vw;
  font-size: 20px;
  font-family: monospace;
  color: #757575;
}

/* CSS */
.button {
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3vw;
  font-weight: 600;
  background: none;
  border: none;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  color: rgb(255, 145, 0);
}
.resultButton {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3vw;
  font-weight: 600;
  background: orange;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
}

.resultButton:hover {
  cursor: pointer;
}

.resultButton:active {
  background-color: rgb(255, 145, 0);
}

.selected_ingredients_item_container {
  width: 89vw;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  border: 2px solid #d9d9d9;
  margin: 4vw auto 0 auto;
}

.selected_ingredients_item_container h2 {
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  background: none;
  border: none;
  text-transform: capitalize;
}

.ingredientContainerParent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredientContainer {
  width: 89vw;
  height: 38vw;
  border: 2px solid #d9d9d9;
  display: grid;
  grid-template-rows: repeat(11, min-content);
  grid-auto-flow: column;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto 5vw auto;
}

.ingredientItemContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 200px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
  appearance: none; /* Removes the default checkbox styling */
  border: 1px solid orange; /* Orange border */
  background-color: #fff; /* White background */
  cursor: pointer;
}

/* When the checkbox is checked */
input[type='checkbox']:checked {
  background-color: orange; /* Orange background when checked */
  border-color: orange; /* Maintain the orange border when checked */
  position: relative;
}

/* Add a checkmark inside the checkbox when checked */
input[type='checkbox']:checked::before {
  content: '';
  border: 4px solid #000;
  border-width: 0 4px 4px 0;
  width: 6px;
  height: 12px;
  position: absolute;
  top: -1px;
  left: 3px;
  transform: rotate(45deg);
}

.result h1 {
  margin: 10vw 10vw 2vw 10vw;
  font-size: 3vw;
  font-weight: 600;
  color: orange;
  font-family: Shantell Sans, cursive;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.recipe_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.recipeCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  height: 26vw;
  width: 30vw;
  text-align: start;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipeCard:hover {
  background-color: #f0f0f07d;
}

.recipeCard img {
  height: 73%;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.recipeCard h3 {
  font-family: 'Nanum Gothic Coding', monospace;
  font-style: normal;
  margin-top: 10px;
  font-weight: 400;
  position: relative;
  font-size: 1.5vw;
}

.recipeCard h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Thickness of the underline */
  background-color: #fed39c; /* Color of the underline */
  transform: scaleX(0); /* Initially hidden */
  transition: transform 0.3s ease; /* Smooth animation */
}

.recipeCard h3:hover::after {
  transform: scaleX(1); /* Expand underline on hover */
  transform-origin: bottom left;
}



/* Loader Property */

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  background-color: orange; /* Optional background color */
}

.loader {
  position: relative;
  width: 120px;
  height: 14px;
  border-radius: 0 0 15px 15px;
  background-color: #3e494d;
  box-shadow: 0 -1px 4px #5d6063 inset;
  animation: panex 0.5s linear alternate infinite;
  transform-origin: 170px 0;
  z-index: 10;
  perspective: 300px;
}
.loader::before {
  content: '';
  position: absolute;
  left: calc(100% - 2px);
  top: 0;
  z-index: -2;
  height: 10px;
  width: 70px;
  border-radius: 0 4px 4px 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(#6c4924, #4b2d21),
    linear-gradient(#4d5457 24px, transparent 0),
    linear-gradient(#9f9e9e 24px, transparent 0);
  background-size: 50px 10px, 4px 8px, 24px 4px;
  background-position: right center, 17px center, 0px center;
}
.loader::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -2;
  transform: translate(-50%, -20px) rotate3d(75, -2, 3, 78deg);
  width: 55px;
  height: 53px;
  background: #fff;
  background-image: radial-gradient(circle 3px, #fff6 90%, transparent 10%),
    radial-gradient(circle 12px, #ffc400 90%, transparent 10%),
    radial-gradient(circle 12px, #ffae00 100%, transparent 0);
  background-repeat: no-repeat;
  background-position: -4px -6px, -2px -2px, -1px -1px;
  box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
  border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
  animation: eggRst 1s ease-out infinite;
}
