*{
    overflow-x: hidden;
}
.section_container {
    background-color: white;
    width: 100vw; /* Full viewport width */
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.section_container1_category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    /* height: 300px; */
    margin-top: 100px;
    background-color: #D9D9D9;
    border-radius: 20px;
    cursor: pointer;
}
.section_container1_category p{
    margin-bottom: 10px;
    font-size: 20px;
    color: #878484;
}
.section_container1_category img{
    width: 300px;
    height: 300px;
}


.section_container2_category {
    width: 300px;
    /* height: 300px; */
    margin-top: 100px;
    background-color: #D9D9D9;
    border-radius: 20px;
    cursor: pointer;
}
.section_container2_category p{
    margin-bottom: 10px;
    font-size: 20px;
    color: #878484;
}
.section_container2_category img{
    width: 300px;
    height: 300px;
}


